body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: pink;
    overflow: hidden;
}

.image-container {
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px)rotate(0deg);
    position: relative;
}